.colors-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .colors-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5px;

  .dot-box {
      height: 35px;
      width: 35px;
      border-radius: 99px;
      margin-right: 10px;
  }
  
  .color-dot {
      height: 30px;
      width: 30px;
      border-radius: 99px;
      cursor: pointer;
  }

   .active-color-dot {
       border: 3px solid white;
   }

   .active-dot-box {
     border: 3px solid black;
    // padding: 10px;
   }
 }
}
