.search-box {
    .title-text {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

   .search-input {
      outline: none;
      border: 1px solid black;
      border-radius: 5px;
      padding: 5px;
    }
}

